.new-blog-global {
  display: flex;
  justify-content: center;
}
.new-blog-inner {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  font-family: "Playfair Display", serif;
  padding: 20px;
  width: 52vw;
}
.new-blog-post-head {
  font-weight: normal;
  color: #005699;
}
.new-blog-inner img {
  border: solid black 1px;
  height: 200px;
  margin: 20px;
}
.new-blog-post-p {
  font-size: 20px;
  /* width: 50%; */
}
@media only screen and (max-width: 1177px) {
  .new-blog-inner {
    width: 80%;
  }
}
@media only screen and (max-width: 794px) {
  .new-blog-inner {
    width: 100%;
  }
}
@media only screen and (max-width: 678px) {
  .new-blog-inner {
    flex-direction: column;
  }
}
