.admissions-section-global {
  margin-bottom: 100px;
}
.admissions-it-global {
  font-family: "Playfair Display", serif;
}
.btech-it-p {
  font-size: 20px;
  text-align: justify;
}
.admissions-it-seat-table {
  overflow: scroll;
}
.admissions-section-global table,
.admissions-section-global th,
.admissions-section-global td {
  border: 1px solid rgba(0, 0, 0, 0.342);
  text-align: center;
  padding: 10px;
  border-collapse: collapse;
}

.admissions-useful-links {
  margin-top: 100px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.admissions-useful-links h1 {
  font-weight: normal;
  margin-bottom: 40px;
}
.admissions-useful-links li {
  padding: 10px;
}
.admissions-useful-links a {
  text-decoration: none;
  font-size: 22px;
  color: #005699;
}
.admissions-useful-links a::after {
  margin-left: 7px;
  content: "->";
}
.admissions-mtech{
  font-family: "Playfair Display", serif;
}

.ext-links{
  color:#005699 !important;
  text-decoration: none !important;
}
.admissions-course-structure a{
  font-size: 16px;
}
.admissions-course-structure a::after{
  margin-left: 7px;
  font-size:16px !important;
  content: "";
}