.contact-us-global {
  padding: 60px 0px;
  margin-bottom: 70px;
}
.contact-us {
  font-family: "Playfair Display", serif;
  line-height: 1.7;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 70px;
  flex-flow: wrap;
}
.contact-us-global-head {
  font-weight: normal;
  text-align: center;
  font-size: 40px;
}
.contact-us-para {
  width: 600px;
  line-height: 1.9;
  font-size: 18px;
  color: rgb(65, 65, 65);
  margin-left: 100px;
}
.contact-us-global-head::after {
  display: block;
  width: 80px;
  height: 2px;
  background-color: #008080;
  content: "";
  margin-top: 0.5vw;
  margin-left: 47vw;
}
.map-iframe {
  width: 60%;
  height: 100%;
}
.contact-us-address {
  padding: 40px;
}
.contact-us-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-us-head {
  font-weight: normal;
}
.contact-us-img img {
}
.google-map {
  width: 100%;
  height: 52vmin;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1109px) {
  .contact-us-img img {
    width: 100%;
  }
  .map-iframe {
    width: 600px;
    /* height: 400px; */
    margin: 40px 0;
  }
  .contact-us {
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .contact-us-para {
    padding: 0 10px;
    margin-left: 0px;
  }
  .google-map {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 647px) {
  .contact-us-para {
    width: 86vw;
    padding: 0 10px;
  }
  .map-iframe {
    width: 75vw;
  }
}
