.blog-container-global {
  font-family: "Playfair Display", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.latest-blog-date {
  padding-left: 30px;
}
.latest-blog-head {
  padding-left: 10px;
  color: #005699;
  font-size: 25px;
}
.latest-blog-content {
  padding-left: 15px;
  color: #022949;
}
.blog-container-contents {
  display: flex;
  justify-content: center;
  width: 70%;
}
.active1 {
  background: rgba(238, 238, 238, 0.842);
  height: 200px;
  margin: 5px;
  display: block;
  overflow-y: scroll;
  transition: all 0.3s;
}
.latest-more {
  display: flex;
  justify-content: flex-end;
  margin-right: 15%;
  margin-top: 10px;
}
.latest-more h3 {
  font-weight: normal;
}
.latest-more a {
  color: #005699;
  text-decoration: none;
}

.latest-buttons {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}
.latest-prev {
  margin-top: 8%;
  font-size: 30px;
}
.latest-next {
  margin-top: 8%;
  font-size: 30px;
}
.blog-container-contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.blog-container-contents a {
  text-decoration: none;
  width: 100%;
  color: black;
}
@media screen and (max-width: 500px) {
  .blog-container-contents {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
  }
}
/* @media screen and (max-width: 800px) {
  .blog-container-contents {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
} */
/* New CSS */
@keyframes slide {
  from {
    left: 0;
  }
  to {
    left: -980px;
  }
}

.latest-slider {
  width: 100%;
  overflow: hidden;
}

.latest-container {
  /* height: 400px; */
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  animation-name: slide;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* .latest-container div {
  padding: 20px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: 100px;
  width: 100px;
} */

.latest-global img {
  height: auto;
  width: 100%;
}
