.blog-container-global {
  /* padding-bottom: 100px; */
  font-family: "Playfair Display", serif;
}

.latest-blog-date {
  padding-left: 30px;
}
.latest-blog-head {
  padding-left: 10px;
  color: #005699;
  font-size: 30px;
}
.latest-blog-content {
  padding-left: 15px;
  color: #022949;
  /* padding-top: 3vmin; */
}
.blog-container-contents {
  /* padding: 100px 0; */
  display: flex;
  justify-content: space-between;
}
.hidden1 {
  /* height: 0; */
  background: rgba(238, 238, 238, 0.842);
  display: none;
  /* opacity: 0; */
  width: 0;
  transition: width 0.3s;
  overflow: hidden;
}
/* .box-1 {
  background: whitesmoke;
}
.box-2 {
  background: whitesmoke;
}
.box-3 {
  background: whitesmoke;
} */
.active1 {
  /* width: 400px !important; */
  margin: 5px;
  /* opacity: 1; */
  display: block;
  overflow: hidden;
  /* height: 10%; */
  margin-left: 30px;
}
.latest-buttons {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  /* color: white; */
}
.latest-prev {
  margin-top: 8%;
  font-size: 30px;
}
.latest-next {
  margin-top: 8%;
  font-size: 30px;
}
@media screen and (max-width: 1745px) {
  .latest-blog-head {
    font-size: 26px;
  }
}
@media screen and (max-width: 900px) {
  .latest-blog-head {
    font-size: 12px;
  }
  .active1 {
    font-size: 10px;
  }
}
/* New CSS */
@keyframes slide {
  from {
    left: 0;
  }
  to {
    left: -980px;
  }
}

.latest-slider {
  width: 100%;
  overflow: hidden;
}

.latest-container {
  /* height: 400px; */
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  animation-name: slide;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* .latest-container div {
  padding: 20px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: 100px;
  width: 100px;
} */
.latest-container .active1 {
  /* width: 400px !important; */
}

.latest-global img {
  height: auto;
  width: 100%;
}
