.news-global {
  margin-top: 30px;
  display: flex;
  padding: 10px;
  font-family: "Playfair Display", serif;
  padding-bottom: 50px;
}
.news-section-head {
  font-weight: normal;
  font-size: 40px;
}
.blog {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}
.blog a {
  text-decoration: none;
  color: black;
}
.blog-image {
  /* padding: 10px; */
  background: url("http://www.iitb.ac.in/sites/default/files/news/2019-03/DSC_6831A.jpg");
  background-size: cover;
  width: 80%;
  margin-left: 1%;
  height: 10vw;
}
#img1 {
  background: url("../assets/dr-arun-sherry.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
#img2 {
  background: url("../assets/bpost2.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
}
#img3 {
  background: url("../assets/expert.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.center-res {
  width: 80%;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-post {
  padding: 10px;
  padding-bottom: 0;
}
.blog-post-head {
  color: #005699;
  margin-top: 0;
  font-weight: normal;
  font-size: 25px;
  /* width: 50%; */
}
.blog-post-p {
  /* width: 70%; */
}
.c2 a {
  color: #005699;
  text-decoration: none;
  font-size: 20px;
}
.news-head {
  font-size: 40px;
  padding: 10px;
  padding-left: 0px;
  padding-bottom: 25px;
}
.news-article {
  padding: 10px;
  padding-left: 0;
}
.payment-section p {
  width: 70%;
  color: #2c4152;
}
.payment-head {
  font-weight: normal;
  color: rgb(68, 68, 68);
  /* border-left: solid 1px;
  padding-left: 5px; */
}
.payment-button {
  background: transparent;
  border: solid 1px rgb(139, 152, 226);
  color: white;
  background: #005699;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}
.payment-button:hover {
  color: black;
  background: rgb(196, 194, 194);
  cursor: pointer;
}
.payment-button:focus {
  outline-color: transparent;
}
.more a {
  text-decoration: none;
  color: #005699;
  font-size: 20px;
  text-align: right;
}
.more {
  align-self: flex-end;
}

@media only screen and (max-width: 1262px) {
  .more-news {
    text-align: right;
  }
  .more-blogs {
    display: flex;
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 1652px) {
  .blog-post-head {
    font-size: 20px;
  }
  .blog-post-p {
    width: 100%;
    font-size: 12px;
  }
  .blog-image {
    height: 8vw;
  }
  .events-section {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 1260px) {
  .news-global {
    flex-direction: column;
  }
  /* .blog-post-head {
    font-size: 20px;
  } */
  /* .blog-post-p {
    width: 100%;
    font-size: 12px;
  } */
  .blog {
    width: 60%;
  }
  .news-section-head {
    text-align: center;
  }
  .blogs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .news-head {
    text-align: center;
  }
  .blog-image {
    width: 30%;
    height: 20vw;
    background-size: cover !important;
    height: 13vw;
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .blog {
    width: 90%;
    flex-direction: column;
  }
  .blog-post-head {
    font-size: 25px;
  }
  .blog-post-p {
    width: 100%;
    font-size: 18px;
  }
  .blog-image {
    width: 30%;
    height: 20vw;
  }
  .center-res {
    /* margin-right: 10%; */
    width: 100%;
  }
}
@media only screen and (max-width: 602px) {
  .blog-image {
    background-size: cover !important;
    width: 100%;
    height: 80vw;
  }
  .payment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .more-news {
    text-align: right;
  }
}
