.side-card-inner p {
  margin: 0;
  padding: 10px 0;
}
.side-card-outer a {
  text-decoration: none;
  color: black;
  padding: 10 0;
}
.side-card-outer a:hover {
  color: rgb(0, 117, 172);
}
.side-card-outer {
  font-family: "Playfair Display", serif;
  padding: 20px;
  margin-top: 7%;
  margin-left: 10%;
  /* border: solid rgb(75, 59, 250) 2px; */
}
.side-card-inner {
  background: white;
}
.side-card-head {
  font-size: 35px;
  padding: 10px 0;
}
.side-card-sub-head {
  font-size: 18px;
  padding: 20px 0;
  /* border-bottom: solid linear-gradient(red, yellow) 1px; */
}
.side-card-sub-head:hover {
  /* background: rgba(190, 188, 188, 0.329); */
}
