.staff-global {
  font-family: "Playfair Display", serif;
}
.staff-global-head {
  font-weight: normal;
  margin-top: 80px;
  text-decoration: underline;
}
.staff-column {
  padding: 40px;
  /* display: flex;
  flex: 25%;
  max-width: 33.33%; */
}

.staff-row {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  padding: 0 4px;
  display: grid;
  grid-template-columns: 1fr;
}
.staff-r {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.data1 {
}
.staff-card {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.staff-container {
  padding: 0 16px;
}
.staff-container::after,
.staff-row::after {
  content: "";
  clear: both;
  display: table;
}
.staff-title {
  color: grey;
}
.staff-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.staff-button:hover {
  background-color: #555;
}
.staff-image {
  height: 250px;
  width: 300px;
}
@media only screen and (max-width: 410px) {
  .staff-image {
    height: 180px;
    width: 220px;
  }
}
